<Scriper>
  <ScriptManager>
    <Script name="Generate Guid" description="Generate guid and copy it to clipboard." path="E:\GitHub\Scriper\ScriperSol\Scriper.UnitTests\Assets\generateGuid.ps1" inSystemTray="false" outputWindow="false">
      <TimeSchedules />
    </Script>
  </ScriptManager>
</Scriper>