<Scriper>
  <ScriptManager>
    <Script name="HelloWord" path="Assets\helloWord.py" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
    <Script name="AllDirectories" path="Assets\allDirectoriesinPath.bat" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
    <Script name="IpConfig" path="Assets\ipConfigPS.ps1" lastRun="15-11-2020 22:23:00" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
    <Script name="math" path="Assets\math.js" lastRun="15-11-2020 22:23:00" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
    <Script name="hlpython" path="Assets\helloWord.py" lastRun="15-11-2020 22:23:00" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
  </ScriptManager>
</Scriper>