<Scriper>
  <ScriptManager>
    <Script name="HelloWord" path="Assets\helloWord.py" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
    <Script name="AllDirectories" path="Assets\allDirectoriesinPath.bat" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
    <Script name="IpConfig" path="Assets\ipConfigPS.ps1" inSystemTray="false" outputWindow="true">
      <TimeSchedules />
    </Script>
  </ScriptManager>
</Scriper>